<div class="app-container">
  <h1>Welcome to the Game of Life</h1>
  <div class="game-info">
    <span class="generation-info">Generation: {{ generation }}</span>
    <div class="game-controls">
      <button (click)="onClickStopOrStart()" class="control-btn small-btn" [ngClass]="{'start': getGameStatus() === enumGameStatus.PAUSE, 'pause': getGameStatus() === enumGameStatus.ACTIVE }">
        {{ getGameStatus() === enumGameStatus.ACTIVE ? 'Pause' : 'Start' }}
      </button>
      <button (click)="onReset()" class="control-btn small-btn reset">RESET</button>
    </div>
  </div>
  <div class="game">
    <div class="board" *ngFor="let row of numRows | numToArray">
      <div class="cell" *ngFor="let col of numCols | numToArray">
        <button
          (click)="onClick(row, col)"
          [ngClass]="{ 'alive': getCellState(row, col) === enumCellState.ALIVE, 'dead': getCellState(row, col) === enumCellState.DEAD }"
        ></button>
      </div>
    </div>
  </div>
</div>
